.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #fbf9f1;

  // 태블릿 (768px 이상)
  @media (min-width: 768px) {
    padding: 20px 40px 50px;
  }

  // 데스크탑 (1024px 이상)
  @media (min-width: 1024px) {
    padding: 20px 50px 50px;
  }
}
